@model SuperCharactersApp.ViewModels.DTO.SuperPowerViewModels.SuperPowersListingViewModel

<div class="modal fade" id="editSuperpower-@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit the chosen team</h5>
            </div>
            <div class="modal-footer">
                <form method="post" asp-controller="Superpower" asp-action="Edit">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class=" col-md-12">
                        <label asp-for="SuperPowerName">Superpower name</label>
                        <input asp-for="Type" name="Type" class="form-control" />
                        <input asp-for="Value" name="Value" type="number" step="0.1" class="form-control" />
                        <input asp-for="Id" name="Id" type="hidden" class="form-control" />
                        @*<span asp-validation-for="SuperPowerName"></span>*@
                    </div>

                    <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            </div>
        </div>
    </div>
</div>


