@model SuperCharactersApp.ViewModels.DTO.SuperPowerViewModels.SuperPowersListingViewModel

<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Edit the chosen Superpower</h5>
            </div>
            <div class="modal-footer">
                <row>
                    <div class="col-lg-4">
                        <label asp-for="SuperPowerName">@Model.SuperPowerName</label>
                    </div>
                    <div class="col-lg-4">
                        <label asp-for="Type">@Model.Type</label>
                    </div>
                    <div class="col-lg-4">
                        <label asp-for="Value">@Model.Value</label>
                    </div>
                    </row>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary">
                            Back
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
