
@{
    ViewData["Title"] = "Create";
}

<main class="mt-3">
    <h1 class="text-center">@ViewData["Title"]</h1>
    @*<hr class="hr-2 eventure-bg-color half-width" />*@
    <form class="register-form mx-auto half-width text-center d-flex flex-wrap justify-content-between" method="post" asp-controller="Team" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row col-md-12">
            <div class="form-group col-md-6 ">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Team name..." `>
            </div>
        </div>
        <div class="button-holder col-md-6">
            <button type="submit" class="btn eventure-bg-color">Create</button>
        </div>
    </form>
</main>

