@model IEnumerable<SuperCharactersApp.ViewModels.DTO.SuperPowerViewModels.SuperPowersListingViewModel>

@{
    ViewData["Title"] = "ListSuperpowers";
    var cnt = 0;
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<table class="table table-striped">
    <thead>
        <tr>
            <td align="center"></td>
            <th scope="col">Operations</th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var superpower in Model)
        {
            cnt++;

            <tr>
                <td align="center"></td>
                <th scope="row">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-light  btn-sm">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span>Edit</span>
                        </a>
                        <a href="#" class="btn btn-info  btn-sm">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <span>View</span>
                        </a>

                        <button type="button" class="btn btn-danger btn-sm"
                                data-toggle="modal" data-target="#modalDelete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span>Delete</span>
                        </button>
                        <partial name="_ReusableModal"
                                 model='new SuperCharactersApp
                                                              .ViewModels
                                                              .DTO.ReusableModalModel
                                                              .ModalViewModel { Id = superpower.Id 
                                                              ,Controller= controller};' />
                    </div>
                </th>
                <th scope="row">@cnt</th>
                <td>@superpower.SuperPowerName</td>
                <td>@superpower.Type</td>
                <td>@superpower.Value</td>
            </tr>
        }
    </tbody>
</table>

