@model IEnumerable<SuperCharactersApp.ViewModels.DTO.SuperPowerViewModels.SuperPowersListingViewModel>

@{
    ViewData["Title"] = "ListSuperpowers";
    var cnt = 0;
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<table class="table table-striped">
    <thead>
        <tr>
            @*<td align="center"></td>*@
            <th scope="col">Operations</th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var superpower in Model)
        {
            cnt++;

            <tr>
                @*<td ></td>*@
                <th width="20%" scope="row">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-light btn-sm"
                                data-toggle="modal" data-target="#editSuperpower-@superpower.Id">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span>Edit</span>
                        </button>

                        <partial name="Partials/_EditSuperpower"
                                 model="superpower">

                            <button type="button" class="btn btn-info btn-sm"
                                    data-toggle="modal" data-target="#detailsSuperpower-@superpower.Id">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                <span>Details</span>
                            </button>

                            <partial name="Partials/_ViewSuperpowerDetails"
                                     model="superpower">

                                <button type="button" class="btn btn-danger btn-sm"
                                        data-toggle="modal" data-target="#deleteModal-@superpower.Id">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <span>Delete</span>
                                </button>

                                <partial name="_ReusableDeleteModal"
                                         model='new SuperCharactersApp
                                                              .ViewModels
                                                              .DTO.ReusableModalModel
                                                              .ModalViewModel { Id = superpower.Id
                                                              ,Controller= controller};' />
                    </div>
                </th>
                <th scope="row">@cnt</th>
                <td>@superpower.SuperPowerName</td>
                <td>@superpower.Type</td>
                <td>@superpower.Value</td>
            </tr>
        }
    </tbody>
</table>

