@model SuperCharactersApp.ViewModels.DTO.SuperPowerViewModels.SuperPowerViewModel

<div class="form-group col-md-3"></div>
<form id="addSuperPowerForm"class="register-form mx-auto half-width  d-flex flex-wrap justify-content-between" method="post"
      asp-controller="Superpower" asp-action="Create">
    <div class="row col-md-12">
        <div class="form-group col-md-4 ">
            <label asp-for="SuperPowerName"></label>
            <input asp-for="SuperPowerName" type="text" class="form-control" placeholder="Name..." `>
            <span asp-validation-for="SuperPowerName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label for="Type">Select type of superpower</label>
            <span asp-validation-for="Type" class="text-danger"></span>
            <select asp-for="Type" class="form-control">
                <option value="Damage">Damage</option>
                <option value="Heal">Heal</option>
                <option value="Armour">Armour</option>
                <option value="Damage Multiplier">Damage Multiplier</option>
            </select>
            <span asp-validation-for="SuperPowerName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 ">
            <label asp-for="Value"></label>
            <input asp-for="Value" type="number" step="0.1" class="form-control" placeholder="Value..." `>
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
    </div>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}