@model SuperCharactersApp.ViewModels.DTO.ReusableModalModel.ModalViewModel
<!-- Modal -->
<div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure? Think again!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <form method="post"  asp-controller="@Model.Controller" asp-action="Delete" id="formModal">
                    <button type="submit" value="@Model.Id" id="delete-@Model.Id" name="formModal" class="btn btn-outline-primary">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
