<style>
    .content {
        max-width: 500px;
        margin: auto;
        text-align: center;
    }
</style>
<body>

    <div class="content">
        <hgroup>
            <h1>Page not found.</h1>
            <div class="button-container">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-black" href="/Home">Back to home page</a>
                }
            </div>
        </hgroup>
    </div>
</body>

