@model IEnumerable<SuperCharactersApp.ViewModels.DTO.SuperPowerViewModels.SuperPowersListingViewModel>
@{
    var maxNumberSuperpowersPerCharacter = 3;
}

<div class="form-group row col-md-12">
    <form method="post">
        <span>Choose new set of superpowers:</span>
        @for (int i = 0; i < maxNumberSuperpowersPerCharacter; i++)
        {

            <select class="form-control" id="superpowers" name="SuperPowerId">
                <option value="" disabled selected>Select Superpower...</option>
                @foreach (var superpower in Model)
                {
                    <option value="@superpower.Id" name="SuperPowerId">@superpower.SuperPowerName</option>
                }
            </select>
        }
        @*@foreach (var superpower in Model)
            {
                <input asp-for="@superpower.SuperPowerName" value="@superpower.SuperPowerName"
                       class="form-control">
            }*@
    </form>
</div>

<row>
    <button type="submit" class="btn btn-outline-primary">
        Save changes
    </button>
    <button type="button" onclick="cancelForm()" class="btn btn-outline-secondary">
        Back
    </button>
</row>
<script>
    cancelForm = function () {
        window.location.replace('/Character/ListCharacters')
    }
</script>