@model IEnumerable<SuperCharactersApp.ViewModels.DTO.TeamViewModels.TeamViewModel>

@{
    ViewData["Title"] = "ListTeams";
    var cnt = 0;
    var controller = ViewContext.RouteData.Values["controller"].ToString();

}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Operations</th>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            cnt++;

            <tr>
                <th width="33%">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-light btn-sm"
                                data-toggle="modal" data-target="#editTeam-@team.Id">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span>Edit</span>
                        </button>

                        <partial name="Partials/_EditTeam"
                                 model="team">

                            <button type="button" class="btn btn-info btn-sm"
                                    data-toggle="modal" data-target="#detailsTeam-@team.Id">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                <span>Details</span>
                            </button>

                            <partial name="Partials/_ViewTeamDetails"
                                     model="team">

                                <button type="button" class="btn btn-danger btn-sm"
                                        data-toggle="modal" data-target="#deleteModal-@team.Id">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <span>Delete</span>
                                </button>

                                <partial name="_ReusableDeleteModal"
                                         model='new SuperCharactersApp
                                                          .ViewModels
                                                          .DTO.ReusableModalModel
                                                          .ModalViewModel { Id = team.Id
                                                          ,Controller= controller};' />
                    </div>
                </th>
                <th width="33%" scope="row">@cnt</th>
                <td width="33%">@team.TeamName</td>
            </tr>
        }
    </tbody>
</table>



